.blue-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #A0BFE8;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    height: 250px;
    position: relative;
}

.blue-card-container::after {
    content: '';
    background: url('../../assets/triangulo_inferior.svg') no-repeat center center;
    background-size: contain;
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.blue-card-container::before {
    content: '';
    background: url('../../assets/triangulo_superior.svg') no-repeat center center;
    background-size: contain;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
}

.blue-card-title{
    font-size: 28px;
    font-weight: 500;
    color: #222A43;
    text-transform: uppercase;
    z-index: 1;
    text-align: center  ;
}

.blue-card-text{
    font-size: 60px;
    color: #222A43;
    font-weight: 900;
    text-transform: lowercase;
    z-index: 1;
}

@media (max-width: 1600px){
    .blue-card-container {
        width: 200px;
        height: 200px;
    }

    .blue-card-title {
        font-size: 24px;
    }

    .blue-card-text {
        font-size: 50px;
    }
}