.fundo{
    background-color: #333C56;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.loginInputs{
    background-color: #A0BFE8;
    border-radius: 80px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.loginInputs img{
    width: 20%;
    margin-bottom: 20px;
}

.loginInputs h1{
    color: #FFFCF5;
}

.loginInputs button{
    background-color: #EA9216;
    color: #FFFCF5;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    width: 30%;
    display: block;
}

.inputLabel{
    color: #FFFCF5;
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
    align-items: center;
}
