.testecontainer {
  display: grid;
  grid-template-columns: 300px 1fr; /* 240px para sidebar, resto para o conteúdo */
  height: 100vh;
}


.teste {
  background-color: aqua;
  width: 100%; /* agora ocupa 100% da célula de grid */
  padding: 20px;
}
